{% extends 'base.html' %}
{% block head_title %}Viewing category {{ category.title }} {% endblock %}
{% block title %}{{ category.title }}{% endblock %}

{% block content %}
	{% if posts %}
		{% for post in posts %}
			<!-- <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li> -->
			<h2 class="blog-post-title">{{ post.title }}</h2>
			<p>{{ post.body }}</p>
			<p>By: <i><a href="{{ post.author.get_absolute_url }}">{{ post.author }}</a></i></p>
		{% endfor %}	
	{% else %}
		<p>There are no posts</p>
	{% endif %}
{% endblock %}