{% extends 'guests/base.html' %}
{% load staticfiles %}

{% block title %} Index {% endblock %}
{% block body %}
	<div class="container">
    	<div class = "cert-border">
			<div class="container">
				  <img class="img-responsive spacer center-block" src="{% static 'images/logo-manship.png' %}" alt="">
					<!-- upper -->
					<div class="text-center">
						<p class="text-uppercase spacer" style="font-size: 26px;">
							<i>Certificate of Seaman is awarded to</i>
						</p>
						<img class="img-responsive spacer center-block"  src="{% if not marine.picture %}http://placehold.it/300x200{% else %}{{MEDIA_URL}}{{ marine.picture }}{% endif %}" width="300px">
						<p class="spacer" style="font-size: 26px;">
							<b>{{ request.session.name }}</b>
						</p>
					</div>
					<!-- lower -->
					<div class="row spacer" id="details">
						<div class="col-sm-6 just-right">
							<p>Certification Name: <b>{{ marine.cert_name }}</b></p>
						</div>
						<div class="col-sm-6">
							<p>Certification Number: <b>{{ marine.cert_number }}</b></p>
						</div>
						<div class="col-sm-6 just-right">
							<p>Date Issue: <b>{{ marine.date_issue }}</b></p>
						</div>
						<div class="col-sm-6">
							<p>Date Expire: <b>{{ marine.date_expire }}</b></p>
						</div>
					</div>
			</div>
		
		</div>
  	</div>
{% endblock %}